<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Reservas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Reservas creadas para <span th:text="${establecimiento.nombre}"></span></h2>

        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}">
                    <td th:text="${reserva.fecha}">Fecha</td>
                    <td th:text="${reserva.hora}">Hora</td>
                    <td>
                        <form th:action="@{/reservas/eliminarReserva/{id}(id=${reserva.id})}" th:method="delete">
                            <button type="submit" class="btn btn-danger">
                                <span class="fas fa-trash"></span>
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
